.error404 {
    margin: 50px 10px;
}

.error404 h1 {
    font-size: 80px;
    margin: 20px 15% 0;
    text-align: center;
}

.error404 h3 {
    font-size: 40px;
    margin: 10px 15% 0;
    text-align: center;
    color: #007dfe;
}

.error404 img {
    display: block;
    width: 30%;
    margin: 0 auto;
}

.error404 button {
    display: block;
    background-color: transparent;
    color: #007dfe;
    border: 4px solid #007dfe;
    margin: 10px auto;
    font-size: 30px;
    padding: 5px 10px;
}

@media only screen and (max-width: 600px) {
    .error404 {
        margin: 100px 10px;
    }

    .error404 h1 {
        font-size: 40px;
        margin: 200px auto 0;
        text-align: center;
    }

    .error404 h3 {
        font-size: 22px;
        margin: 30px 30px 0;
        text-align: center;

    }

    .error404 img {
        display: block;
        width: 95%;
        margin: 0 auto;
    }

    .error404 button {
        display: block;
        background-color: transparent;
        color: #007dfe;
        border: 4px solid #007dfe;
        margin: 10px auto;
        font-size: 30px;
        padding: 5px 10px;
    }

}