.barStyle {
    height: 100%;
    background-color:  #ffe6c6;
}

.barLength0 {width: 0.5%;}
.barLength1 {width: 1.5%;}
.barLength2 {width: 2%;}
.barLength3 {width: 3%;}
.barLength4 {width: 4%;}
.barLength5 {width: 5%;}
.barLength6 {width: 6%;}
.barLength7 {width: 7%;}
.barLength8 {width: 8%;}
.barLength9 {width: 9%;}
.barLength10 {width: 10%;}
.barLength11 {width: 11%;}
.barLength12 {width: 12%;}
.barLength13 {width: 13%;}
.barLength14 {width: 14%;}
.barLength15 {width: 15%;}
.barLength16 {width: 16%;}
.barLength17 {width: 17%;}
.barLength18 {width: 18%;}
.barLength19 {width: 19%;}
.barLength20 {width: 20%;}
.barLength21 {width: 21%;}
.barLength22 {width: 22%;}
.barLength23 {width: 23%;}
.barLength24 {width: 24%;}
.barLength25 {width: 25%;}
.barLength26 {width: 26%;}
.barLength27 {width: 27%;}
.barLength28 {width: 28%;}
.barLength29 {width: 29%;}
.barLength30 {width: 30%;}
.barLength31 {width: 31%;}
.barLength32 {width: 32%;}
.barLength33 {width: 33%;}
.barLength34 {width: 34%;}
.barLength35 {width: 35%;}
.barLength36 {width: 36%;}
.barLength37 {width: 37%;}
.barLength38 {width: 38%;}
.barLength39 {width: 39%;}
.barLength40 {width: 40%;}
.barLength41 {width: 41%;}
.barLength42 {width: 42%;}
.barLength43 {width: 43%;}
.barLength44 {width: 44%;}
.barLength45 {width: 45%;}
.barLength46 {width: 46%;}
.barLength47 {width: 47%;}
.barLength48 {width: 48%;}
.barLength49 {width: 49%;}
.barLength50 {width: 50%;}
.barLength51 {width: 51%;}
.barLength52 {width: 52%;}
.barLength53 {width: 53%;}
.barLength54 {width: 54%;}
.barLength55 {width: 55%;}
.barLength56 {width: 56%;}
.barLength57 {width: 57%;}
.barLength58 {width: 58%;}
.barLength59 {width: 59%;}
.barLength60 {width: 60%;}
.barLength61 {width: 61%;}
.barLength62 {width: 62%;}
.barLength63 {width: 63%;}
.barLength64 {width: 64%;}
.barLength65 {width: 65%;}
.barLength66 {width: 66%;}
.barLength67 {width: 67%;}
.barLength68 {width: 68%;}
.barLength69 {width: 69%;}
.barLength70 {width: 70%;}
.barLength71 {width: 71%;}
.barLength72 {width: 72%;}
.barLength73 {width: 73%;}
.barLength74 {width: 74%;}
.barLength75 {width: 75%;}
.barLength76 {width: 76%;}
.barLength77 {width: 77%;}
.barLength78 {width: 78%;}
.barLength79 {width: 79%;}
.barLength80 {width: 80%;}
.barLength81 {width: 81%;}
.barLength82 {width: 82%;}
.barLength83 {width: 83%;}
.barLength84 {width: 84%;}
.barLength85 {width: 85%;}
.barLength86 {width: 86%;}
.barLength87 {width: 87%;}
.barLength88 {width: 88%;}
.barLength89 {width: 89%;}
.barLength90 {width: 90%;}
.barLength91 {width: 91%;}
.barLength92 {width: 92%;}
.barLength93 {width: 93%;}
.barLength94 {width: 94%;}
.barLength95 {width: 95%;}
.barLength96 {width: 96%;}
.barLength97 {width: 97%;}
.barLength98 {width: 98%;}
.barLength99 {width: 99%;}