
.header {
    display: flex;
    justify-content:space-between;
    padding: 20px 30px;
}

.headerIcons {
text-align: right;
size:70px;
color:rgb(33, 33, 33);
padding-top: 12px;
margin-right: 50px;
}

.headerIcons p {
    display: inline;
margin: 0 10px;
}

.headerTitles {
padding: 0;
width: max-content;
}

.headerTitles h1 {
    font-size: 20px;
 color:rgb(33, 33, 33);
    font-weight: 600;
    margin-top: 10px;
    font-family: 'Alfa Slab One', cursive;


   
}

.headerTitles h3 {
    font-size: 35px;
    margin-bottom: 0;
    padding: 0;
}

@media only screen and (max-width: 600px) and (min-width: 320px) {
    
.header {
    position: fixed;
    visibility: hidden;
    
}}