
.header {
    display: flex;
    justify-content:space-between;
    padding: 20px 30px 0px;
    
}

.headerIcons {
text-align: right;
font-size:40px;
color: #e0634b;
padding-top: 40px;
margin-right: 15%;
}

.headerIcons p {
    display: inline;
margin: 0 10px;

}

.headerTitles {
padding: 0;
width: max-content;
margin-bottom: 0;
height: 35px;
}

.underLine{
    position: relative;
    left: 27px;
    bottom: 49px;
    width: 250px;
    height: 12px;
    background-color: #f9c280;
    z-index: -1;
}

.headerTitles h1 {
    font-size: 35px;
    color: #27536b;
    font-weight: 400;
    margin-top: 40px;
    padding: 0;
    font-family: 'Alfa Slab One', cursive;
}

.headerTitles h3 {
    font-size: 15px;
    margin-bottom: 0;
    padding: 0;
}

@media only screen and (max-width: 600px) {
    

.headerIcons {
    margin-right: 0;
    font-size: 25px;
    padding-top: 5px;

}

.headerIcons p {
    display: inline;
margin: 0 5px;
}

.headerTitles h1 {
    font-size: 20px;
    margin-top: 10px;
}


.underLine{
    position: relative;
    left: 27px;
    bottom: 19px;
    width: 250px;
    height: 12px;
    background-color: #f9c280;
    z-index: -1;
}

}