

.menu {
    width: 100%;
    padding: 5px;
    background-color: #e8e8e8;
    margin: 0;
    height: 100%;
}

.menuList {
    display: flex;
    flex-direction: column;
   
}

.menuList span {
   margin-right: 10px;
}

.menuList img {
    width: 50%;
    margin-left: 25%;
    margin-bottom: 20px;
    margin-top: 35px;
}

.menuList h3 {
    text-align: center;
    font-size: 35px;
    margin: 0 0 50px;
    color: #363636;
    font-weight: 100;
    font-family: 'Alfa Slab One', cursive;

}

.menudesktop{
width:fit-content;
margin: 0 auto;
}

.menuList p {
    margin-bottom: 0;
    padding: 5px 15px 10px;
    border-radius: 5px;
    font-size: 10px;
}

.menuList p:hover {
   background-color: #dfdfdf;
   border-bottom: #b0b0b0 solid 1px;
   color:#727272;
}

.menumobile {
    display: none;}

.menuBtn {
    border:#363636 solid 3px;
    padding: 0;
    width: 90%;
    margin-top: 5px;

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
.html {
    width: 100%;
}
.menu {
    min-height: 50px;
    width: 100%;
}

.menudesktop {
    display:none;
   }

.menuBig{
    display:none;
}

.menumobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
}
.menumobile img {
  width: 35px;
  display: block;
  margin: 2px 0 0 35px;
}

.menumobile h3{
    color: #363636;
    font-weight: 100;
    font-family: 'Alfa Slab One', cursive;
    font-size: 20px;
    margin: 7px 0 0
}

.menudesktop {
 display:none;
}


}