


.cardContainer {
    position: relative;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:  5px 15px 15px;
    overflow-y: scroll;
    max-height: 65vh;
    margin-right: 8%;
}

.card {
    width: 350px;
    height: 240px;
    border: 3px solid #ffffff;
    margin: 10px;
    border-radius: 3px;
    border: solid rgb(208, 208, 208) 1px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card:hover{
    border: solid rgb(170, 170, 170) 1px;
    background-color: rgb(236, 236, 236);

}

.card img {
    width:100%;
    height: 165px;
    object-fit: cover;
    margin: 0 auto 0px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.card img:hover{
    border: solid rgb(170, 170, 170) 1px;
}
.card p, .card h6{
    margin: 0 20px;
} 

.cardInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2px;
}

.card h6 {
font-size: 20px;
font-family: 'Alfa Slab One', cursive;
font-weight: 100;

}

.cardInfo p, .cardInfoComets {
font-size: 12px;
margin-top: 0;

}

.pageBrowser{
    display: flex;
    flex-direction: row;
    margin: 10px auto;
    align-content: center;
    background-color: white;
    border-radius: 3px;
    width: fit-content;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 0.1px solid rgb(238, 238, 238);

}

.pageBrowser button{
    background-color: transparent;
    border: none;
    margin:7px 25px 0 ;
    color: #e0634b;
    font-size: 22px;
}

.pageBrowser p {    
    font-size: 18px;
    margin-top: 7px;
    font-weight: 600;
}

.pageBrowserContainer{
    background-color: transparent;
    position: fixed;
    left: 40vw;
    bottom: 70px;
    z-index: 3;
}
.loading {
    background-color: rgba(0, 0, 0, 0.164);
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.loading img {
    display: block;
    margin: 130px auto 10px;
    border-radius: 8px;
    width: 40%;
}

.loading p {
    text-align: center;
    margin: 0;
}

.spacer{
    height: 150px;
    background-color: transparent;
    z-index: -2;
}

.infoIcon{ 
    position:relative;
    bottom: 155px;
    left:290px;
    font-size: 24px;
    color: hsla(0, 0%, 100%, 0.473);
}

.titleAndInfoCard{
    position: relative;
    bottom: 26px;
}

.pSmall{
padding-bottom: 3px;
}


@media only screen and (max-width: 600px) {
    
.cardContainer {
    padding:  5px 15px 15px;
    max-height: 58vh;
    margin-right: 0;

}

.card {
    width: 390px;
    height: 245px;
    margin: 10px;
}


.card img {
    height: 168px;
}

.card p, .card h6{
    margin: 0 10px;
} 

.card h6 {
font-size: 20px;

}

.cardInfo p, .cardInfoComets {
font-size: 14px;
}


.pageBrowser button{
    font-size: 20px;
    padding-top: 4px;
}

.pageBrowser p {
    margin-top: 7px;    
    font-size: 14px;
}

.pageBrowserContainer{
    bottom: 70px;
    left:15%;
}


.infoIcon{
   font-size: 30px;
   bottom: 160px;
    left:288px;
}