.searchContainer{
    margin: 0 30px 10px;
    display: flex;
    flex-direction: row;
}

.cardsConatinerTitle h3{
    margin: 0 10px 25px 30px;
    font-family: 'Alfa Slab One', cursive;
    font-weight: 100;
    font-size: 45px;

}

.searchBox {
  border-radius: 20px;
  padding: 1px 10px 1px 20px;
}

.fg--search {
    background: white;
    position: relative;
    width: 240px;
    margin:  0 10px 0 -4px;
  }
  
  .fg--search input {
    width: 100%;
    padding: 2px 60px 3px 15px;
    display: block;
    border-radius: 20px;
    border: solid #27536b 1.5px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;

  }
  
  

  .filters {
    margin-left: 8px;
  }
  .filters select{
    margin-left: 5px;
    background-color: transparent;
    border: none;
    padding: 1px 10px 3px;
    width: 140px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #8d8d8d;
    position: absolute;   
    line-height: inherit;
    border: 1.5px solid #27536b;
    border-radius: 15px;


  }

  .searchList{
    border: 2px rgb(186, 186, 186) solid;
    position: absolute;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px;
    font-size: 16px;
    width: 200px;
    z-index: 6;
  }

  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {


.cardsConatinerTitle h3{
  margin: 0 10px 0 30px;
  font-family: 'Alfa Slab One', cursive;
  font-weight: 100;
  font-size: 35px;
}

.searchBox {
  border-radius: 20px;
  padding: 1px 10px 1px 20px;
}

.fg--search {
    background: white;
    position: relative;
    width: 120px;
    margin:  0 10px 0;
  }
  

  
  .fg--search button {
   display: none;
  }
  

  
  .filters select{

    font-size: 14px;
  }

  .searchList{
    border: 2px rgb(186, 186, 186) solid;
    position: absolute;
    left: 35px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px 20px;
    font-size: 16px;
    max-height: 400px;
    overflow-y: scroll;
    z-index: 7;
    width: 200px
  }

  .searchContainer{
    width: fit-content;
    margin: 0 6% 10px;
    display: flex;
    flex-direction: row;
}
}