.searchContainer{
    margin: 0 30px;
    display: flex;
    flex-direction: row;
}

.cardsConatinerTitle h3{
    margin: 0 10px 25px 30px;
    font-family: 'Alfa Slab One', cursive;
    font-weight: 200;
    font-size: 30px;

}

.searchBox {
  border-radius: 20px;
  padding: 1px 10px 1px 20px;
}

.fg--search {
    background: white;
    position: relative;
    width: 180px;
    margin:  0 10px 0 -4px;
  }
  
  .fg--search input {
    width: 100%;
    padding: 2px 60px 3px 15px;
    display: block;
    border-radius: 20px;
    border: solid #27536b 1.5px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 9px;

  }
  
  .fg--search button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: 5px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 18px 20px;
    z-index: 2;

  }
  
  .fg--search input:focus + button .fa-search {
    color: red;
  }

  .filters {
    margin-left: 8px;
  }
  .filters select{
    margin-left: 5px;
    background-color: transparent;
    border: none;
    padding: 2px 10px 3px;
    width: 100px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 9px;
    color: #8d8d8d;
    position: absolute;   
    line-height: inherit;
    border: 1.5px solid #27536b;
    border-radius: 15px;


  }

  .searchList{
    border: 2px rgb(186, 186, 186) solid;
    position: absolute;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px;
    font-size: 12px;
  }

  